@font-face{
    font-family: "PTSans_B";
    src: url("fonts/PTSans-Bold.woff") format("woff");
}

@font-face{
    font-family: "PTSans_R";
    src: url("fonts/PTSans-Regular.woff") format("woff");
}

@font-face{
    font-family: "Roboto_B";
    src: url("fonts/Roboto-Bold.woff") format("woff");
}

@font-face{
    font-family: "Roboto_L";
    src: url("fonts/Roboto-Light.woff") format("woff");
}

@font-face{
    font-family: "Roboto_R";
    src: url("fonts/Roboto-Regular.woff") format("woff");
}

@font-face{
    font-family: "Roboto_T";
    src: url("fonts/Roboto-Thin.woff") format("woff");
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

html{
    font-size: 16px;
}

body{
    margin: 0;

    font-family: "PTSans_R";
    font-size: 14px;
    color: #fff;

    line-height: 20px;
}

span{
    color: #e84c3d;
}

.container{
    max-width: 940px;

    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header{
    position: relative;

    width: 100%;
}

.header::after{
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;

    background-color: rgba(255, 255, 255, .1);
}

.header__inner{
    max-width: 960px;

    padding: 20px 10px 35px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
}

.logo__title{
    display: inline-block;

    font-size: 1rem;
    font-family: "PTSans_B";
    text-transform: uppercase;

    margin-left: 20px;
}

/* Nav */
.nav{
    display: flex;
}

.nav__link{
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    margin-left: 30px;

    transition: color .4s linear;
}

.nav__link:hover{
    color: #e84c3d;
}

/* Intro */
.intro{
    background: url(img/background_1.png) center no-repeat;
    background-size: cover;

    height: 585px;
}

.intro__info{
    text-align: center;

    padding-top: 100px;
}

.intro__title{
    font-size: 2.86em;
    font-family: "Roboto_T";
    font-weight: 400;
}

.intro__text{
    margin: 30px 0 70px;
}

.link__more{
    width: 70px;

    display: block;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #fff;

    margin: 50px auto 0;

    border-bottom: 1px solid rgba(1, 1, 1, 0);

    transition: border .4s linear;
}

.link__more:hover{
    border-bottom: 1px solid #fff;
}

/* Main Features */
.main__features{
    height: 330px;

    background-color: #2b2f37;

    padding: 60px 15px;
}

.main__features__inner{
    display: flex;
}

.main__features__item{
    flex-basis: 33.3333%;
    text-align: center;
}

.main__features__title{
    font-family: "Roboto_B";
    font-size: 1.15em;
    text-transform: uppercase;

    margin: 30px 0 10px;
}

.main__features__text{
    margin: 0 auto 30px;

    color: #6f798c;

    font-size: 1rem;

    max-width: 250px;
}

.link__more.red{
    margin-top: 0;

    color: #e84c3d;
}



/* Button */
.button{
    font-size: 0.75rem;
    color: #fff;

    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid #e84c3d;

    transition: background .4s linear;
}

.button:hover{
    background-color: #e84c3d;
}

.button.login{
    padding: 15px 35px;
}

.button.oversize{
    font-size: 1em;
    font-family: "PTSans_B";

    padding: 15px 60px;
}












