@font-face{
    font-family: "PTSans_B";
    src: url("fonts/PTSans-Bold.woff") format("woff");
}

@font-face{
    font-family: "PTSans_R";
    src: url("fonts/PTSans-Regular.woff") format("woff");
}

@font-face{
    font-family: "Roboto_B";
    src: url("fonts/Roboto-Bold.woff") format("woff");
}

@font-face{
    font-family: "Roboto_L";
    src: url("fonts/Roboto-Light.woff") format("woff");
}

@font-face{
    font-family: "Roboto_R";
    src: url("fonts/Roboto-Regular.woff") format("woff");
}

@font-face{
    font-family: "Roboto_T";
    src: url("fonts/Roboto-Thin.woff") format("woff");
}

*,
*::after,
*::before{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p{
    margin: 0;
}

html{
    font-size: 16px;
}

body{
    margin: 0;

    font-family: "PTSans_R";
    font-size: 14px;
    color: #fff;

    line-height: 20px;
}

.container{
    max-width: 940px;

    margin: 0 auto;
    padding: 0 15px;
}

/* Header */
.header{
    position: relative;

    width: 100%;
    
    padding: 20px 0;
}

.header::after{
    content: "";

    position: absolute;
    left: 0;
    bottom: 0;

    width: 100%;
    height: 1px;

    background-color: rgba(255, 255, 255, .1);
}

.header.fixed{
    position: fixed;
    z-index: 1;
    
    background-color: #2b2f37;
    
    padding: 10px 0;
}

.header.fixed .button.login{
    padding: 10px 30px;
}

.header__inner{
    max-width: 960px;

    padding: 0 10px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo{
    display: flex;
    align-items: center;
}

.logo__title{
    display: inline-block;

    font-size: 1rem;
    font-family: "PTSans_B";
    text-transform: uppercase;

    margin-left: 20px;
}

.text--red{
    color: #e84c3d;
}

/* Nav */
.burger{
    display: none;
}

.nav{
    display: flex;
}

.nav__link{
    font-size: 0.75rem;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    margin-left: 30px;

    transition: color .4s linear;
}

.nav__link:hover{
    color: #e84c3d;
}

/* Intro */
.intro{
    background: url(img/background_1.png) center no-repeat;
    background-size: cover;

    height: 585px;
}

.intro__info{
    text-align: center;

    padding-top: 100px;
}

.intro__text{
    width: 100%;
    max-width: 490px;
    margin: 0 auto;
}

.link__more{
    width: 70px;

    display: block;

    text-decoration: none;
    text-transform: uppercase;
    font-size: 0.75rem;
    color: #fff;

    margin: 50px auto 0;

    border-bottom: 1px solid rgba(1, 1, 1, 0);

    transition: border .4s linear;
}

.link__more:hover{
    border-bottom: 1px solid #fff;
}

/* Main Features */
.main__features{
    height: 330px;

    background-color: #2b2f37;

    padding: 60px 15px;
}

.main__features__inner{
    display: flex;
    flex-wrap: wrap;
}

.main__features__item{
    width: 33.33333%;
    text-align: center;
}

.main__features__title{
    font-family: "Roboto_B";
    font-size: 1.15em;
    text-transform: uppercase;

    margin: 30px 0 10px;
}

.main__features__text{
    margin: 0 auto 30px;

    color: #6f798c;

    font-size: 1rem;

    max-width: 265px;
}

.link__more.red{
    margin-top: 0;

    color: #e84c3d;
}

/* Search */
.search{
    height: 425px;
}

.search__inner{
    width: 100%;
    max-width: 660px;

    margin: 0 auto;

    text-align: center;

    padding: 40px 0 10px;
}

.search__text{
    width: 100%;
    max-width: 600px;

    margin: 0 auto;
}

.search__features{
    display: flex;
    flex-wrap: wrap;
}

.features__item{
    width: 33.33333%;
    
    display: flex;
    color: #000;

    margin-top: 50px;
}

.features__description{
    max-width: 220px;
    margin-left: 30px;
}

.features__title{
    font-weight: 700;
    text-transform: uppercase;
}

.features__text{
    color: #5e5e5e;
}

/* Features */
.features{
    height: 390px;
    background-color: #2b2f37;

    padding: 60px;
}

.features__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.features__title--white{
    color: #fff;
}

.features__text--white{
    color: #fff;

    max-width: 205px;
}

/* Plan */
.plan{
    height: 700px;

    margin: 0 auto;
    padding: 75px 0 40px;

    text-align: center;
}

.plan__inner{
    display: flex;
    justify-content: center;
}

.plan__card{
    position: relative;

    border: 1px solid #bebebe;
    border-right: none;

    color: #000;
    line-height: 2;

    min-width: 260px;

    padding: 20px;
}

.plan__card:last-child{
    border-right: 1px solid #bebebe;
}

.plan__card:hover .button--card{
    background-color: #e84c3d;
}

.plan__card:hover .card__header{
    opacity: 1;
}

.plan__card:hover .card__title{
    color: #fff;
}

.plan__card:hover .card__subtitle{
    color: #fff;
}

.plan__card:hover .card__subtitle::after{
    opacity: 0;
}

.plan__card:hover .card__text{
    color: #fff;
}

.plan__card:hover .card__content{
    opacity: 1;
}

.card__header{
    width: 100%;
    height: 81px;

    background-color: #e84c3d;
    opacity: 0;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;

    transition: opacity .4s linear;
}

.card__title{
    position: relative;

    font-family: "Roboto_B";
    font-size: 1.29em;
    text-transform: uppercase;
    line-height: 1;

    transition: color .4s linear;
}

.card__subtitle{
    position: relative;

    margin-bottom: 30px;

    transition: color .4s linear;
}

.card__subtitle::after{
    content: "";

    width: 100%;
    height: 1px;

    background-color: #bebebe;

    position: absolute;
    left: 0;
    bottom: -15px;

    opacity: 1;

    transition: opacity .4s linear;
}

.card__content{
    width: 100%;
    height: 316px;

    background-color: #2c3039;
    opacity: 0;

    position: absolute;
    top: 81px;
    left: 0;
    z-index: 0;

    transition: opacity .4s linear;
}

.card__text{
    position: relative;

    transition: color .4s linear;
}

.dollar{
    font-size: 1.6em;
    font-family: "Roboto_B";
}

.prise{
    font-size: 3.57em;
    font-family: "Roboto_B";
}

.text--bold{
    font-weight: 700;
}

.card__description{
    color: #000;
    font-size: 1rem;

    max-width: 350px;

    margin: 40px auto 0;
}

/* Testimonials*/
.testimonials{
    height: 480px;
    padding: 50px 0;

    color: #000;
    text-align: center;
}

.testimonials__subtitle{
    margin-top: 15px;
}

.testimonials__icon{
    margin: 45px 0 30px;
}

.testimonials__photo{
    margin: 25px 0;
}

.testimonials__text{
    line-height: 1.2;

    max-width: 665px;

    margin: 0 auto;
}

.photo__description{
    font-size: 0.75rem;
    color: #5e5e5e;
}

/* Blog */
.blog{
    height: auto;
    
    padding: 50px 0;
    
    color: #000;
}

.blog__inner{
    width: 100%;
    max-width: 820px;
    
    padding: 0 20px;
    margin: 0 auto 35px;
    
    display: flex;
    flex-direction: column;
}

.blog__item{
    width: 100%;
    
    display: flex;
    align-items: center;
    
    margin-top: 30px;
}

.blog__content{
    margin-right: 40px;
    height: auto;
}

.blog__title{
    font-family: "Roboto_R";
    font-size: 1.125rem;
}

.blog__info{
    display: flex; 
    justify-content: space-between;
    
    max-width: 240px;
    
    margin: 20px 0;
    
    font-size: 0.75rem;
}

.blog__data{
    color: #5e5e5e;
}

.blog__icon{
    display: inline-block;
}

.likes__count{
    display: inline-block;
}

.block__text{
    display: inline-block;
    
    position: relative;
}

.link__more.red.block{
    position: absolute;
    left: 75px;
    bottom: -2px;
    
    text-transform: none;
    font-size: 0.80rem;
    
    width: 58px;
}

.link__more.red.block:hover{
    text-decoration: underline;
}


/* Location */
.location{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    height: 550px;
    
    background: url(img/background_2.png) center no-repeat;
    background-size: cover;
    
    color: #000;
}

.location__content{
    max-width: 460px;
    margin: 0 auto;
    
    padding: 0 20px;
}

.location__title{    
    width: 300px;
    font-size: 1.875rem;
    line-height: 1;
}

.location__street{
    font-size: 18px;
    
    margin: 30px 0 50px;
}

.location__days{
    font-size: 12px;
    margin-bottom: 4px;
}

.location__number_1, .location__number_2{
    font-size: 1rem;
    text-decoration: none;
    color: #000;
    
    display: inline-block;   
}

.location__number_1:hover, .location__number_2:hover{
    text-decoration: underline;
}

.location__email{
    font-size: 1rem;
    color: #e84c3d;
    
    margin-left: 30px;
    
    text-decoration: none;
}

.location__email:hover{
    text-decoration: underline;
}

/* Footer */
.footer{
    padding: 17px 0;
    
    color: #fff;
    
    background-color: #2c3039;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer__text{
    font-size: 12px;
    text-transform: uppercase;
}

.social__icon{
    margin-right: 35px;
}

.social__icon:last-child{
    margin: 0;
}

/* Copy */
.copy{ 
    color: #000;
}

.copy__inner{
    padding: 20px 0;
    
    display: flex;
    justify-content: space-between;
}

.copy__column{
    display: flex;
    flex-direction: column;
    
    width: 20%;
}

.column__title{
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}

.column__text{
    font-size: 12px;
    color: #5e5e5e;
    
    margin-top: 10px;
}

.copy__number{
    font-weight: 700;
    font-size: 18px;
    
    text-decoration: none;
    color: #000;
}

.copy__number:hover{
    text-decoration: underline;
}

.copy__email{
    font-size: 14px;
    color: #e84c3d;
    
    margin: 4px 0 20px;
    
    text-decoration: none;
}

.copy__email:hover{
    text-decoration: underline;
}

.copy__copyright{
    font-size: 12px;
    color: #2c3039;
}


/* Title */
.title{
    font-size: 2.86em;
    font-family: "Roboto_L";
    color: #000;
    font-weight: 400;
    text-align: center;
}

.title--thin{
    font-family: "Roboto_T";
    color: #fff;
    font-weight: 400;
}

.title--white{
    color: #fff;
}

/* Text */
.text{
    margin: 30px 0 40px;

    font-size: 1rem;
    font-weight: 400;
    color: #000;
}

.text--white{
    color: #fff;
}

/* Form */
.form{
    display: flex;

    width: 100%;
    max-width: 640px;

    margin: 0 auto;
    padding: 10px;

    background: url(img/background_search.png) center no-repeat;
    background-size: cover;
}

.search__input{
    padding: 20px 15px 15px;

    width: 100%;
    max-width: 480px;

    display: inline-block;

    outline: none;
}

.footer__form{
    display: flex;
    
    align-items: center;
}

.footer__text--form{
    margin-right: 15px;
}

.input__footer{
    font-size: 14px;
    
    width: 300px;
    max-width: 300px;
    
    padding: 10px 20px;
    
    outline: none;
}

.input__footer::placeholder{
    color: rgba(0, 0, 0, .4);
    font-size: 14px;
}
/* Button */
.button{
    font-size: 0.75rem;
    color: #fff;

    text-decoration: none;
    text-transform: uppercase;

    border: 1px solid #e84c3d;

    transition: background .4s linear;
}

.button:hover{
    background-color: #e84c3d;
}

.button.login{
    padding: 15px 35px;
}

.button.oversize{
    font-size: 1em;
    font-family: "PTSans_B";

    padding: 15px 60px;
}

.button--search{
    padding: 0 29px;

    background-color: #fff0;

    cursor: pointer;
}

.button--card{
    position: relative;

    display: block;

    background-color: #2c3039;

    padding: 11px 70px;
    margin-top: 23px;

    border: 0;
}

.button--fixsize{
    width: 220px;
    
    margin: 0 auto;
}

.button--footer{
    display: block;
    
    background-color: transparent;
    
    padding: 12px;
    
    cursor: pointer;
}

/* Media */
@media(max-width: 950px){
    
/*    Header */
    .header__logo{
        order: 2;
    }
    
/*    Burger */
    .burger{
        display: block;
        
        position: relative;
        
        width: 30px;
        height: 2px;
        
        background-color: #fff;
        
        order: 3;
        
        cursor: pointer;
        
        padding: 0;
    }
    
    .burger::after, .burger::before{
        position: absolute;
        
        content: "";
        
        width: 100%;
        height: 2px;
        
        background-color: #fff;
    }
    
    .burger::before{
        top: -8px;
        right: 0;
    }
    
    .burger::after{
        bottom: -8px;
        right: 0;
    }
    
 /*    Nav */   
    .nav{
        display: none;
        
        position: absolute;
        right: 0;
        bottom: -219px;
        z-index: 1;
        
        background-color: #2c3039;
        
        flex-direction: column;
        
        padding: 20px;
        
        border-radius: 0 0 0 20px;
    }
    
    .nav__link{
        margin-top: 20px;
    }
    
    .nav__link:first-child{
        margin-top: 0;
    }
    
/*    Main Features */
    .main__features{      
        height: auto;
        
        padding-top: 30px;
    }
    
    .main__features__inner{
        justify-content: space-around;
    }
    
    .main__features__item{
        width: 50%;
        
        margin-top: 30px;
    }
    
/*    Search */
    .search{
        height: auto;
        padding-bottom: 40px;   
    }
    
    .search__features{
        justify-content: space-around;
    }
    
    .features__item{
        width: 35%;
    }
    
    .features__description{
        max-width: 100%;
    }
    
/*    Features */
    .features{
        height: auto;
    }    
    
    
    
/*    Buttons */
    .button.login{    
        order: 1;
    }
    
    .header.fixed .button.login{
        padding: 15px 30px;
    }
    
} /* max-width: 950px */

@media(max-width: 890px){
/*    Footer */
    .footer__inner{
        align-items: center;
    }
    
    .footer__text{
        width: 50%;
    }
    
    .footer__social{
        width: 50%;
    }
    
    .footer__form{
        margin-top: 20px;
    }
    
/*    Copy */
    .copy__inner{
        flex-wrap: wrap;
        justify-content: space-around;
        
        padding: 0;
        padding-bottom: 20px;
    }
    
    .copy__column{
        width: 25%;
        
        margin-top: 30px;
        text-align: center;
    }
} /* max-width: 890px */

@media(max-width: 810px){
/*    Title */
    .title{
        line-height: 1;
    }
    
/*    Plan Card */
    .plan{
        height: auto;
    }
    
    .plan__inner{
        flex-wrap: wrap;
    }
    
    .plan__card{
        border: 1px solid  #bebebe;
    }
    
    .plan__card:last-child{
        margin-top: 15px;
    }
    
    .plan__card:first-child{
        margin-right: 15px;
    }
} /* max-width: 810px */

@media(max-width: 754px){
    .search__features{
        justify-content: center;
    }
    
    .features__inner{
        justify-content: center;
    }
    
    .features__item{
        width: 100%;
        text-align: center;
    }
}

@media(max-width: 620px){
    .main__features__item{
        width: 100%;
    }
}




